__pycache__/lines_observer.cpython-312.pyc
__pycache__/video_processing.cpython-312.pyc
__pycache__/lines_observer.cpython-312.pyc
__pycache__/lines_observer.cpython-312.pyc
__pycache__/video_processing.cpython-312.pyc
video/garden.mkv
video/ring.mkv
